<div class="col-md-4 py-2">
    <div class="card h-100 bg-light shadow">
        <div class="card-body">
            <div class="card-header bg-warning text-black">
                <h3 class="title">{{ name }}</h3>
                <h4 class="title"><i class="fas fa-briefcase"></i> {{ role }}</h4>
            </div>
            <div class="card-body bg-success">
                <ul class="list-group">
                    <li class="list-group-item"><b>ID: {{ id }}</b></li>
                    <li class="list-group-item"><b>Email: <a href="mailto:{{ email }}">{{ email }}</b></a></li>
                    <li class="list-group-item"><b>Office Number: {{ officeNumber }}</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>